.tagFilter--column {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-column-gap: 2rem;
}
.priceFilter {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
}
