.tagFilter--column {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-column-gap: 5px;
}
.priceFilter {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
}
