.tripDetail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  width: 80%;
  min-width: 500px;
  margin-left: auto;
  margin-right: auto;
  height: min-content;
  grid-row-gap: 0.5rem;
  box-shadow: 0 2px 4px var(--sd0);
  &__img {
    object-fit: cover;
  }
  &__summary {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
