// Process
@mixin squareShape($size) {
  width: $size;
  height: $size;
}

@mixin circleShape($size) {
  @include squareShape($size);
  border-radius: 50%;
}

// Block
@mixin site {
  display: grid;
  position: relative;
  box-sizing: border-box;
}

// Shortener
@mixin padding($name, $amount) {
	.p-#{$name} { padding: $amount }
	.pt-#{$name} { padding: $amount }
	.pb-#{$name} { padding: $amount }
	.pl-#{$name} { padding: $amount }
	.pr-#{$name} { padding: $amount }
}

@mixin margin($name, $amount) {
	.m-#{$name} { margin: $amount }
	.mt-#{$name} { margin: $amount }
	.mb-#{$name} { margin: $amount }
	.ml-#{$name} { margin: $amount }
	.mr-#{$name} { margin: $amount }
}