@import "../style/util.scss";

.profile {
  box-shadow: 0 0px 4px 1px var(--sd0);
  grid-row-gap: 0.5rem;
  height: min-content;
  margin-left: auto;
  margin-right: auto;
  min-width: 500px;
  text-align: left;
  width: 60%;
  &__avatar {
    @include circleShape(60px);
    user-select: none;
  }
  &__message {
    text-align: center;
    color: red;
  }
  &__cont {
    &--content {
      display: grid;
      grid-row-gap: 0.5rem;
      grid-template-columns: 150px 1fr;
      height: min-content;
    }
    &--pwd {
      grid-row-gap: 0.5rem;
      grid-template-columns: 1fr 1fr;
      display: grid;
      grid-column: 1 / span 2;
      &--sub {
        display: grid;
        grid-template-columns: 150px minmax(150px, 1fr);
      }
    }
    &--tag {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      grid-column-gap: 5px;
    }
    &--act {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 0.5rem;
    }
  }
  label {
    font-weight: bold;
    padding-left: 5px;
    margin-top: 0.5rem;
  }
  .disabledValue {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }
}
